# Backend configuration
DB_HOST=mariadb
DB_NAME=conectafamilia_db
DB_USER=admin
DB_PASS=admin
PORT=8080

# MariaDB configuration
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=conectafamilia_db
MYSQL_USER=admin
MYSQL_PASSWORD=admin
